.mobile, .web
  .events
    table
      font-size .8em
      margin 1em 0
      h3
        margin 0
      .date-time, .noborder
        background #f8f9fc
.web
  .events, .users
    td
      padding .5em
    .started, .finished, .total
      display flex
      justify-content space-between
      line-height 1.5em
      align-items baseline
      span
        font-size 1.5em
        font-weight 300
  