.header
  .wrap
    .logo 
      .farm-logo
      | Logo
    | !{app.templates.nav()}
    .name
      | #{(app.user.attributes || app.user.challengeParam.userAttributes).email}
      .icon-profile(onclick='app.storage.signout()')