.mobile
  .person
    .person-details
      display flex
      .data
        flex 1
        display flex
        flex-direction column
        justify-content space-between
        padding .5em 0
        h3
          margin 0
        .icon
          display inline-block
        .totalUses, .totalTime
          font-size .8em
          display flex
          align-items center
    .img-edit
      display flex
      justify-content space-between
      .edit
        margin 0 1em
    .attached
      background white
      padding .5em
      h4
        margin 0
      .attached-details
        display flex
        font-size .8em
        margin-top .5em
        .name
          flex 1
          margin 0 1em
.web
  .person
    .person-details
      display flex
      .data
        flex 1
        display flex
        flex-wrap wrap
        justify-content space-between
        h3
          width 100%
        .img-edit
          flex 2
          display flex
          button
            padding 1em
            margin 0 1em
        .totalUses, .totalTime
          flex 1
          display flex
          min-width 12em
    .charts
      display flex
