@import './styles/*'
@import './components/**/*'
html, body
  margin 0
  font-family sans-serif
  height 100%
  min-height 100%
  display flex
  flex-direction column
  background #eeefef
  color #222223
  //overflow hidden
  sub
    vertical-align baseline
  img
    border-radius .3em
  input, button, textarea {
    -webkit-appearance none
    -webkit-border-radius 0px
    appearance none
    border-radius 0px
  }
  &.uploading
    input[type=submit]
      opacity 0.5
      pointer-events none

  &.loading
    .body
      opacity 0.2
  .body
    flex 1
    //overflow hidden
    table
      tr
        td
          vertical-align top
  form
    .error
      color red
      display none
    &.submitted
      .error.invalid
        display block
  .simulator
    .output
      white-space pre
  /*
  .signin
    .new
      display none*/
  .schedulePercent-box
    border 1px solid black
    position relative
    height .6em
    background darkgrey
    overflow hidden
    .schedulePercent
      position absolute
      top 0
      left 0
      height 100%
      background white
      border-right 1px solid black
      &.danger
        background #ab3333
      &.warning
        background #ab7b33
      &.ok
        background #a4ab33
      &.good
        background #5cab33
