.mobile
  .scanned-page
    .page-title
      h2
        margin 0
    .item
      display flex
      background white
      padding .5em
      border-bottom .4em solid #eeefef
      .name
        flex 1
        padding 0 .5em