.nav.mobile
  button.flex-2(onclick='app.goto("scan")') 
    .icon.icon-qr
    span Scan
  button(onclick='app.goto("events")') 
    .icon.icon-trip
  button(onclick='app.goto("equipment-list")') 
    .icon.icon-tractor
  button(onclick='app.goto("people")') 
    .icon.icon-person